/* Set global styles for the body */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--accent-dark);
  display: flex;
}

/* Style the heading elements within the body */
body h1 {
  margin-left: 1%;
  margin-top: 2.9%;
}

/* Style the container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
}

/* Style the card */
.card {
  background-color: var(--tab-0);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  border-radius: 8px;
  margin-left: 50px;
  height: 620px;
}

.card p,
.card h2,
.card input[type="file"] {
  color: var(--text);
}

.card img {
  width: 190px;
  /* Adjust the width to your desired size */
  height: 190px;
  /* Adjust the height to your desired size */
  object-fit: cover;
  /* Maintain aspect ratio and cover the entire space */
}

/* Style the form container */
.form-container {
  text-align: center;
}

/* Style the form labels */
.form-container label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  color: var(--text);
}

/* Style the form inputs */
.form-container input[type="email"],
.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="file"],
.form-container input[type="date"],
.form-container select,
.form-container .submit-btn {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Style the password container */
.form-container .password-container {
  display: flex;
  align-items: center;
}

/* Style the password input */
.form-container .password-container input[type="password"] {
  flex-grow: 1;
  margin-right: 10px;
  min-width: 0;
  /* Add this line */
}

/* Style the show password icon */
.form-container .password-container i {
  color: var(--text-main);
  cursor: pointer;
}

/* Style the submit button */
.form-container .submit-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Submit Button */
.submit-btn {
  text-decoration: none;
  display: inline-block;
  position: relative;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
  background-color: var(--sbmt-btn);
}

.btm {
  margin-top: 190px;
}

.submit-btn:hover {
  color: white;
  box-shadow: 0 0 30px 0 rgba(86, 236, 0, 0.5);
  background-color: #32ca04;
  transition: all 0.2s ease-out;
}

.submit-btn:before {
  animation: shine 0.5s 0s linear;
}


.submit-btn:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}

.submit-btn:before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  transform: skewX(-20deg);
}


@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

/** SweetAlert2 **/
.custom-swal-popup {
  left: 18%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 360px) {
  #theme_switch {
    position: fixed;
    bottom: 40px;
    left: 18px;
    z-index: 1000;
    width: 33px;
  }

  .container {
    position: absolute;
    left: 75px;
    top: 20px;
  }

  .card {
    max-width: 250px;
  }

  .card p {
    margin-bottom: 20px;
  }

  .custom-swal-popup {
    left: 50%;
    transform: translateX(-50%);
  }
}